## The following requirements were added by pip --freeze:
Jinja2==2.5.5
Pygments==1.4
Sphinx==1.0.7
boto==2.0b4
docutils==0.7
mock==0.7.0
nose==1.0.0
pep8==0.6.1
pyflakes==0.4.0
python-dateutil==1.5
testfixtures==1.9.1
wsgiref==0.1.2
zope.dottedname==3.4.6
